<div class="d-flex flex-column flex-grow-1 justify-content-center">

  <!-- Carousel  -->
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <div class="carousel-img carousel-img-one"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive font-weight-bold carousel-slide-title">Witamy w OrthoCare</h1>
        <p class="d-none d-sm-block carousel-slide-description">Profesjonalna opieka ortodontyczna</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <div class="carousel-img carousel-img-two"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive font-weight-bold carousel-slide-title">Przyjazny gabinet</h1>
        <p class="d-none d-sm-block carousel-slide-description">Miła atmosfera podczas wizyt</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <div class="carousel-img carousel-img-three"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive font-weight-bold carousel-slide-title">Piękny i zdrowy uśmiech</h1>
        <p class="d-none d-sm-block carousel-slide-description">Pozwól nam zadbać o Twój uśmiech</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <!-- Main -->
  <div class="container">
    <hr class="main-divider">
    <div class="row">
      <div class="col-md-7">
        <h1 class="h1-responsive display-4">Doświadczony personel lekarski.</h1>
        <p class="lead py-4">Każdy stomatolg oraz asystentka w naszym Gabinecie to znakomici specjaliści z wieloletnim
          doświadczeniem, co gwarantuje wysoką jakość usług.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/home-page/main-1.jpg" class="img-fluid mx-auto img-thumbnail"
             style="width: 500px; height: 450px;" alt="">
      </div>
    </div>

    <hr class="main-divider">

    <div class="row">
      <div class="col-md-7 order-md-2">
        <h1 class="h1-responsive display-4">Najnowsze techniki leczenia.</h1>
        <p class="lead py-4">W naszej przychodni wdrażamy najnowsze techniki leczenia ortodontycznego. Dzięki temu nasi
          Pacjenci mogą cieszyć się z pięknych i zdrowych uśmiechów.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/home-page/main-2.jpg" class="img-fluid mx-auto img-thumbnail"
             style="width: 500px; height: 450px;" alt="">
      </div>
    </div>
    <hr class="main-divider">
  </div>


  <!-- Footer -->
  <footer class="text-light main-footer">
    <div class="container py-3">
      <div class="row">
        <div class="col-12 col-md-4">
          <p style="font-size: 1.5rem; margin-bottom: 0px;"><i class="fas fa-tooth"></i> Ortho<span
            class="text-primary">Care</span></p>
          <p>Projekt wykonany jako realizacja pracy inżynierskiej przez Patryka Fidrych w 2021r.</p>
        </div>
        <div class="col-12 col-md-4">
          <p class="footer-section-title">Adres</p>
          <p>
            ul. Miłoszewskiego 55/3
            <br>
            50-566 Wrocław
          </p>
        </div>
        <div class="col-12 col-md-4">
          <p class="footer-section-title">Kontakt</p>
          <p>
            E-mail: orthocare@gmail.com
            <br>
            Tel: 222-333-444
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>
